@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --range-progress: 0%;

  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  .left_sidebar {
    @apply flex flex-col w-fit justify-between sticky left-0 top-0 border-none bg-black-1 text-white-1 pt-6 max-md:hidden lg:w-[250px] lg:pl-6;
  }

  .podcast_grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-8;
  }
  .button_bold-16 {
    @apply text-[16px] font-bold text-white-1 transition-all duration-500;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .text-12 {
    @apply text-[12px] leading-normal;
  }
  .text-14 {
    @apply text-[14px] leading-normal;
  }
  .text-16 {
    @apply text-[16px] leading-normal;
  }
  .text-18 {
    @apply text-[18px] leading-normal;
  }
  .text-20 {
    @apply text-[20px] leading-normal;
  }
  .text-24 {
    @apply text-[24px] leading-normal;
  }
  .text-32 {
    @apply text-[32px] leading-normal;
  }
  .input_class {
    @apply border-none mt-5;
  }

  .image_div {
    @apply flex-col flex-center mt-5 w-full h-[142px] flex-none cursor-pointer rounded-xl border-dashed border-black-6 bg-black-1;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Input range - chrome and safari */
 input[type='range'] {
  

  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background: #ccc;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
}

/* input[type='range']::-webkit-slider-runnable-track {
  background-color: #DCCA87;
  height: 2px;
  position: relative;
} */

/* Input range - firefox */
input[type='range']::-moz-range-track {
  position: relative;
  background: #ccc;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  cursor: pointer;
}

/* played progress length - Chrome & safari*/
input[type='range']::before {
  content: '';
  height: 4px;
  background: #DCCA87;
  width: var(--range-progress);
  position: absolute;
  top: 0;
  left: 0;
}


/* played progress length - firefox */
input[type='range']::-moz-range-progress {
  background: #DCCA87;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 2px;
}

/* slider thumb - chrome and safari */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  background: #DCCA87;
}

/* .volumn::-webkit-slider-thumb {
  background-color: #DCCA87;
} */

/* dragging thumb - chrome and safari */
/* input[type='range']:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background-color: #DCCA87;
  height: 8px;
  width: 8px;
} */

/* slider thumb - firefox */
input[type='range']::-moz-range-thumb {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #DCCA87;
  cursor: pointer;
  border: transparent;
  position: relative;
}
/* dragging thumb - firefox */
input[type='range']:active::-moz-range-thumb {
  transform: scale(1.2);
  background-color: #DCCA87;
} 
